{% extends 'trainer/base.html' %}
{% block content %}
    <h1>Trainer Console</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#notifications">Notifications</a></li>
        <li><a data-toggle="tab" href="#progress">Progress Submitted</a></li>
    </ul>
    <div class="well well-lg">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h2>New Clients</h2>
                <hr>
                {% for client in clients %}
                    <a href="{% url 'trainer:user_profile' user_pk=client.user.pk %}">{{ client.user.username }}</a>
                    <p>Weight: {{ client.weight }}</p>
                    <p>Member since: {{ client.user.date_joined }}</p>
                {% empty %}
                    <p>No new clients</p>
                {% endfor %}
            </div>
            <div id="notifications" class="tab-pane fade">
     <h2>Notifications</h2>
    {% for n in notifications %}
        <p>Date: {{ n.date }}</p>
        {% if n.link %}
           <a href={{ n.link }}>Link: {{ n.link }}</a>
        {% endif %}
        <p>Message: {{ n.message }}</p>
        <hr>
    {% empty %}
        <p>No new notifications</p>
    {% endfor %}
            </div>
            <div id="progress" class="tab-pane fade">
                <h2>Progress Submitted</h2>
                {% for p in history %}
                    <span>
                    <p>Date: {{ p.date }}</p>
                    <p>Client: <a href="{% url 'trainer:user_profile' user_pk=p.user_id %}">{{ p.user }}</a></p>
                    <p>Weight: {{ p.weight }} lb</p>
                    </span>
                    <hr>
                {% empty %}
                    <p>No progress submitted</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}